* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header h1 {
    text-transform: uppercase;
    color: red;
}

main {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

ul {
    width: 200px;
    height: 400px;
    border: 1px solid lightgray;
    list-style: none;

}

li {
    color: white;
    padding: 20px;
    overflow-y: hidden;
}

.flag-country img {
    height: 30px;
    width: 40px;
    object-fit: contain;
}

.fas {
    color: yellow;
}
