* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    width: 100%;
    background-color: darkgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header h1 {
    text-transform: uppercase;
    color: red;
}

main {
    height: 100vh;
    width: 100%;
    background-color: black;
}
